<?xml version="1.0"?>
<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- ******* -->
    <!-- API Web -->
    <!-- ******* -->
    <preference for="Praxigento\Dcp\Api\Web\Report\AccountingInterface"
                type="Praxigento\Dcp\Web\Report\Accounting"/>
    <preference for="Praxigento\Dcp\Api\Web\Report\CheckInterface"
                type="Praxigento\Dcp\Web\Report\Check"/>
    <preference for="Praxigento\Dcp\Api\Web\Report\DownlineInterface"
                type="Praxigento\Dcp\Web\Report\Downline"/>
    <preference for="Praxigento\Dcp\Api\Web\Report\ProfileInterface"
                type="Praxigento\Dcp\Web\Report\Profile"/>
    
</config>